<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703559947269-crdmu7mgf7vtg4vljv0fldnemok84a6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703559947269-crdmu7mgf7vtg4vljv0fldnemok84a6d</string>
	<key>API_KEY</key>
	<string>AIzaSyDXr9FFjANNKyMfn6wHtU_VTMjwY7aFXls</string>
	<key>GCM_SENDER_ID</key>
	<string>703559947269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniMarket</string>
	<key>PROJECT_ID</key>
	<string>mini-market-a77de</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-market-a77de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703559947269:ios:b11143dbff1e0bffa4f86c</string>
</dict>
</plist>